



/* Navbar */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;
  background-color: #ffffff;
  position: relative;
  z-index: 10;
}





/* Nav left */
.nav-left img {
  width: 120px;
  object-fit: contain;
  cursor: pointer;
}

/* Nav right - desktop */
.nav-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-right ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-right ul li {
    font-size: 14px;
    color: #2E2F35;
  cursor: pointer;
  color: #111827;
  transition: 0.2s;
}

.nav-right ul li:hover {
  color: #FF6D2C;
  font-weight: 500;
}

.nav-right .buttons {
  display: flex;
  gap: 10px;
}

.nav-right button {
    padding: 14px 21px 12px 22px;
  font-size: 15px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
    font-weight: 500;
    border: 2px solid #2E2F35;
    box-shadow: 3px 3px 0px #2E2F35;
}

.signup{
    background-color: #FF6D2C;
  padding: 14px 25px 12px 25px;

    
}

.login:hover{
  background-color: #333946;
  color: white;

}



.signup:hover{
  background-color: #f94e04;
  color: white;
}

/* 
.nav-right button:last-of-type:hover {
  background-color: #1dd82d;
} */

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger .bar {
  height: 3px;
  width: 25px;
  background-color: #111827;
  border-radius: 2px;
}

/* ===== Mobile styles ===== */

@media (max-width: 900px) {

  .hamburger {
    display: flex;
  }

  /* Hidden state */
  .nav-right {
    display: flex;                 /* KEEP flex */
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: #fff;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    z-index: 999;

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;

    transition: 
      opacity 0.3s ease,
      transform 0.3s ease;
  }

  /* Open state */
  .nav-right.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .nav-right ul {
    flex-direction: column;
    gap: 15px;
  }

  .nav-right .buttons {
    flex-direction: column;
    width: 100%;
  }

  .nav-right button {
    width: 100%;
  }
}


/* Very small screens */
@media (max-width: 480px) {
  .container {
    padding: 0 10px;
  }

  .nav-left img {
    width: 100px;
  }

  .nav-right ul li {
    font-size: 14px;
  }
}
