* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  width: 100%; /* Full width on small screens */
  max-width: 1290px; /* Limit width on large screens */
  margin: 0 auto; /* Center container horizontally */
  padding: 0 20px;
  /* Space on left and right for small screens */
  box-sizing: border-box; /* Include padding in total width */
  /* overflow: hidden;       Prevent content from overflowing container */
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.style {
  font-weight: 400;
  color: #009387;
  font-family: "Covered By Your Grace", cursive;
  font-weight: 400;
  font-style: italic;
}
